.header {
	padding: 23px 33px 23px 33px;
}
.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	margin-right: 392px;
}
.menu li {
	position: relative;
}
.menu__list {
	display: flex;
}
.menu__link {
	margin-right: 147px;
}
.sub-menu__list {
	position: absolute;
	left: 0;
	top: 20px;
}
.sub-menu__link {
}
.form {
	display: flex;
}
.img__search {
	width: 32px;
	height: 32px;
}
