<header class="header">
	<div class="header-row">
		<div class="header__logo">
			<a href="#"
				><img src="/src/assets/static/img/PS_logo.svg" alt="Логотип"
			/></a>
		</div>
		<nav class="menu">
			<ul class="menu__list">
				<li>
					<a href="#" class="menu__link">О компании</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__link"><a href="#">О нас</a></li>
						<li class="sub-menu__link"><a href="#">Наша история</a></li>
						<li class="sub-menu__link"><a href="#">Миссия</a></li>
						<li class="sub-menu__link"><a href="#">Партнёры</a></li>
						<li class="sub-menu__link"><a href="#">Устойчивое развитие</a></li>
						<li class="sub-menu__link"><a href="#">Новости</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="menu__link">Что мы делаем</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__link">
							<a href="#">Производство и услуги</a>
						</li>
						<li class="sub-menu__link"><a href="#">Упаковка</a></li>
					</ul>
				</li>
				<li><a href="#" class="menu__link">Контакты</a></li>
			</ul>
		</nav>
		<div class="header-search">
			<form class="form">
				<input type="text" />
				<img
					class="img__search"
					src="/src/assets/static/img/icon/search.svg"
					alt="" />
			</form>
		</div>
	</div>
</header>
